$letter: 16px;

/* Pallete Color */
$color-header-text: #cdd9e5b3;
$color-header-bg: #2d333b;
$color-header-log: #cdd9e5;
$color-fg-default: #adbac7;
$color-fg-muted: #768390;
$color-canvas-default: #22272e;

/* Font Family */
$letterFamily: Arial;
$letterBold: 700;

/*@media */

$breakpoint-small: 768px;

html {
  font-size: $letter;
  color: $colorBlack;
}

body {
  margin: 0;
  background-color: $colorApp;
}

@mixin title($theme: $colorBlack) {
  &:hover {
    text-decoration: underline;
    transition: text-decoration 0.2s;
  }
}

@mixin button($border: $colorApp) {
  &:hover {
    background-color: $colorApp;
    color: $colorFamily;
    transition: background 0.3s;
  }
}

@mixin input($focus: $colorGray) {
  &:focus {
    border: 0.2rem solid $colorGray;
  }
}
