$letter: 16px;

/* Pallete Color */
$colorText: #16a34a;
$colorApp: #86efac;
$colorFamily: #ffffff;
$colorGray: #808080;
$colorBlack: #000000;

/* Font Family */
$letterFamily: Arial;
$letterBold: 700;

/*@media */

$breakpoint-small: 768px;

html {
  font-size: $letter;
  color: $colorBlack;
}

body {
  margin: 0;
  background-color: $colorApp;
}

@mixin title($theme: $colorBlack) {
  &:hover {
    text-decoration: underline;
    transition: text-decoration 0.2s;
  }
}
