@use "App";

%letter {
  font-family: App.$letterFamily;
  font-weight: App.$letterBold;
  margin: 0;
}

%flexbox {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.Header {
  padding: 0.8rem;
  background-color: App.$color-header-bg;
  color: App.$color-fg-muted;

  nav {
    @extend %flexbox;

    .containerLogo {
      cursor: pointer;
      &:hover {
        opacity: 0.9;
      }
      img {
        width: 2.4rem;
      }
    }
    .list-navbar {
      @extend %flexbox;
      list-style: none;
      cursor: pointer;

      li {
        color: white;

        &:hover {
          color: App.$color-header-text;
        }
      }
    }
  }

  h1 {
    @extend %letter;
    @include App.title;
    color: App.$color-header-text;
  }
}

.form-search {
  @extend %flexbox;
  flex: 0.4;
  .form-search-text {
    color: App.$color-header-text;
    outline: App.$color-header-bg;
    border-radius: 0.6rem;
    border: 0.1rem solid App.$color-fg-muted;
    background: transparent;
    padding: 0.6rem;
    width: 100%;

    @include App.input;
  }
  .form-search-text::placeholder {
    color: App.$color-header-log;
  }
}

.main-root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.card-profile {
  box-shadow: 0 0.625rem 0.9375rem -0.1875rem App.$color-canvas-default,
    0 4px 6px -4px App.$color-canvas-default;
  padding: 8rem;
  overflow: hidden;
  border-radius: 1rem;

  .card-image {
    img {
      width: 6rem;
    }
  }
}

@media screen and (max-width: App.$breakpoint-small) {
  .Header {
    nav {
      flex-direction: column;
    }
  }
  .form-search {
    flex: 1;
  }
}
