@use "App";

%letter {
  font-family: App.$letterFamily;
  font-weight: App.$letterBold;
}

.Header {
  padding: 0.8rem 1rem;
  background-color: App.$colorFamily;
  color: App.$colorBlack;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  h1 {
    @extend %letter;
    @include App.title;
  }
}

@media screen and (max-width: App.$breakpoint-small) {
  nav {
    flex-direction: row;
  }
}
