@use "App";

%letter {
  font-family: App.$letterFamily;
  font-weight: App.$letterBold;
  margin: 0;
}

%flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.Header {
  padding: 1.5rem;
  background-color: App.$colorFamily;
  color: App.$colorBlack;

  nav {
    @extend %flexbox;
  }

  h1 {
    @extend %letter;
    @include App.title;
    color: App.$colorText;
  }
}

.form-search {
  @extend %flexbox;

  .form-search-text {
    outline: App.$colorApp;
    border-radius: 1rem;
    border: 0.1rem solid App.$colorGray;
    padding: 0.4rem;
  }
}

@media screen and (max-width: App.$breakpoint-small) {
  .Header {
    nav {
      flex-direction: column;
    }
  }
}
